<h1>{{appTitle}} 🚀</h1>
<p>Welcome Ironhacker!</p>
<a href="/books"> All books </a>
<br>
<a href="/books/create"> Add a new book </a>
<br>
<a href="/authors"> Authors </a>
<br>
<a href="/authors/create"> Add an author </a>
<br>
<a href="/signup">Register</a> 
<br>
<a href="/login">Login to your account</a> 